.game {
  width: 15rem;
}
.bg {
  background-color: rgb(0, 0, 0, 0.1);
  color: rgb(225, 225, 225, 90%);
}
.games-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.game-img {
  height: 250px;
  object-fit: cover;
}
.metacritic {
  color: palegreen;
  background: rgb(152, 251, 152, 0.5);
  font-weight: 500;
  border-radius: 3px;
}
.bg-card {
  background-color: grey;
  animation: fake-card 0.6s linear infinite alternate-reverse;
}
.fake-row {
  background-color: grey;
  height: 10px;
  border-radius: 5px;
  animation: fake-card 0.6s linear infinite alternate-reverse;
}

@keyframes fake-card {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
