.genre {
  margin-bottom: 10px;
}

.genre-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.genre-name {
  word-wrap: none;
}
.genre-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
